@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

.nav-link {
  color: #222 !important;
}

.nav-link:hover {
  color: var(--primary-color) !important;
}

.head_text {
  font-family: "Playfair Display", serif !important;
}

.contact_links {
  color: var(--primary-color);
}

.contact_btn {
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
  box-shadow: var(--box-shadow) !important;
}

.contact_btn:hover {
  /* background-color: var(--secondary-color);
  color: var(--primary-color); */
  color: #000 !important;
}
.contact-box {
  background-color: var(--secondary-color);
}

.email-link,
.source {
  color: var(--primary-color);
}

.email-link:hover {
  color: #000;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--primary-color);
}
